name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  frontend:
    runs-on: ubuntu-latest

    steps:
      # Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20


      # Install frontend dependencies
      - name: Install frontend dependencies
        working-directory: frontend
        run: npm install

      # Build frontend
      - name: Build frontend
        working-directory: frontend
        run: npm run build
